# Build
dist/
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environnement
.env
.env.production
.env.development

# macOS
.DS_Store

# Editeurs
.vscode/
.idea/
*.swp

# Netlify
.netlify/
